:root {
  --primary: #07bab2;
  --secondary: #282428;
  --title: #282428;
}

body {
  font-family: 'Ropa Sans', sans-serif;
  color: #333;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

nav {
  background: var(--primary);
}

h1 {
  margin: 10px 0;
  font-size: 40px;
}

#loadingMessage {
  text-align: center;
  padding: 40px;
  background-color: #eee;
}

#canvas {
  width: 100%;
}

#searchBtn > i {
  color: var(--primary);
  cursor: pointer;
}
