@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  color: color: var(--secondary);
}

:root {
  --primary: #07bab2;
  --secondary: #282428;
  --title: #282428;
}

#loadingMessage {
  text-align: center;
  padding: 40px;
  background-color: #eee;
}

#canvas {
  width: 100%;
}

.row {
  margin-bottom: 0;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
}

#readBtn {
  color: var(--primary);
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchBtn > i {
  color: var(--primary);
  cursor: pointer;
}


#searchField > label {
  color: var(--primary);
}

::placeholder {
  color: var(--secondary);
}
