@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  color: var(--secondary);
}

:root {
  --primary: #07bab2;
  --secondary: #282428;
}

.brand-logo img {
  line-height: 56px;
  height: 0.75em;
}

#loadingMessage {
  text-align: center;
  padding: 40px;
  background-color: #eee;
}

#canvas {
  width: 100%;
}

#searchField {
  margin: 10px;
}

#searchBtn > i {
  cursor: pointer;
}

#searchField {
  margin-top: 30px;
}

#qrLeido {
  width: 80%;
}

#searchBtn {
  width: 30px;
  background-color: red;
}

/*Estilos para pantallas grandes*/
@media only screen and (min-width: 601px) {
  nav {
    height: 100px;
  }
  #nav-mobile {
    height: 100%;
  }

  .modal-trigger {
    height: 100%;
  }

  .brand-logo img {
    margin-top: 15px;
    margin-left: 15px;
    height: 1.5em;
  }
}
